<h1> Adding a Member </h1>

<form action= "/save_member">
  
  What is the name of the member?<br>
  <input type "text" placeholder="ex. John Smith" name="name"><br>
  
  What is the username the memeber want?<br>
  <input type "text" placeholder="ex. The Doctor" name="username"><br><br>
  
  <input type= "submit">
</form>

<a href="/member_menu">Back</a>