<h1> Deleting a Member </h1>

<form action="/gone_member">

  Which one do you want to delete?<br>
    <% Member.all.each do |list| %>
    <input type="checkbox" name= "member[]" value= "<%= list.id%>"> <%= list.name%><br>
    <% end %>
  <input type= "submit">
</form>

<a href="/home">Back</a>