<h1>Anime Club Member Menu</h1>

<ul>
  <li><a href="/home" class="button">Main Menu</a></li>
  <li><a href="/list_members" class="button">List of all the Members</a></li>
  <li><a href="/add_member" class="button">Add a Member</a></li>
  <li><a href="/change_member" class="button">Change a Member's name and/or username</a></li>
  <li><a href="/delete_member" class="button">Delete a old Member from the list</a></li>
</ul>