<h1>Anime Club Member Menu</h1>

<ul>
  <li><a href="/home">Main Menu</a></li>
  <li><a href="/list_members">List of all the Members</a></li>
  <li><a href="/add_member">Add a Member</a></li>
  <li><a href="/change_member">Change a Member's name and/or username</a></li>
  <li><a href="/delete_member">Delete a old Member from the list</a></li>
</ul>