<h1> Welcome to Otakujinrui, UNL Anime Club. Welcome Admin what do you need?</h1>

<ul class="main_menu_position">
  <li><a href="#" class="menu_button">Adjust the Member Database</a></li>

  <ul class="menu menu_position">
    <li><a href="/list_members" class="button button_position">List of all the Members</a></li>
    <li><a href="/add_member" class="button button_position">Add a Member</a></li>
    <li><a href="/change_member" class="button button_position">Change a Member's name and/or username</a></li>
    <li><a href="/delete_member" class="button button_position">Delete a old Member from the list</a></li>
  </ul>

  <li><a href="/anime_series_menu" class="menu_button">Adjust the Anime Series Database</a></li>
  <li><a href="/format_type_menu" class="menu_button">Adjust the Format Type Database</a></li>
  <li><a href="/media_menu" class="menu_button">Adjust the Media Database</a></li>
  <li><a href="/media_member_menu" class="menu_button">Adjust the Media Member Database</a></li>
</ul>