<h1>Anime Club Anime Series Menu</h1>

<ul>
  <li><a href="/home">Main Menu</a></li>
  <li><a href="/list_anime_series">List of all the Anime Series</a></li>
  <li><a href="/add_anime_series">Add a Anime</a></li>
  <li><a href="/change_anime_series">Change a Anime title</a></li>
  <li><a href="/delete_anime_series">Delete a Anime show from the list</a></li>
</ul>