<h1>Anime Club Anime Series Menu</h1>

<ul>
  <li><a href="/home" class="button">Main Menu</a></li>
  <li><a href="/list_anime_series" class="button">List of all the Anime Series</a></li>
  <li><a href="/add_anime_series" class="button">Add a Anime</a></li>
  <li><a href="/change_anime_series" class="button">Change a Anime title</a></li>
  <li><a href="/delete_anime_series" class="button">Delete a Anime show from the list</a></li>
</ul>