<h1> What series do you want info on? </h1>

<form action= "/result_anime_series">
  
  What is the title of the series?<br>
  <input type "text" placeholder="ex. Gundam" name="anime"><br>
  
  <input type= "submit">
</form>
