<h1> Adding a Media </h1>

<form action= "/save_media">
  
  <p> Format Type: <select name="name"></p>
    <%FormatType.all.each do |formattype| %>
    <option value="<%= formattype.id %>"> <%= formattype.name %></option>
    <% end %>
  </select>
  
  <p> Anime Series: <select name="title"></p>
    <%AnimeSeries.all.each do |animeseries| %>
    <option value="<%= animeseries.id %>"> <%= animeseries.title %></option>
    <% end %>
  </select><br><br>

  What is the name of the media?<br>
  <input type "text" placeholder="ex. Cowboy Bebop Complete Set" name="cover_name"><br>
  
  <input type= "submit">
</form>

<a href="/media_menu" class="button">Back</a>