<h1> Deleting a Media </h1>

<form action="/gone_media">

  Which one do you want to delete?<br>
  <% Media.all.each do |list| %>
  <input type="checkbox" name= "media[]" value= "<%= list.id%>"> <%= list.cover_name%><br>
  <% end %>
  
  <input type= "submit">
</form>

<a href="/media_menu" class="button">Back</a>