<h1>Here is the list of our Media</h1>

<ul>
  <% Media.all.each do |list| %>
  <p><li><%= "#{list.id} - #{list.format_type_id} - #{list.anime_series_id} - #{list.cover_name}"%></li>
  </p>
  <% end %>
</ul>
  
<a href="/media_menu" class="button">Back</a>