<h1>Anime Club Media Menu</h1>

<ul>
  <li><a href="/home">Main Menu</a></li>
  <li><a href="/list_media">List of all the Media</a></li>
  <li><a href="/add_media">Add a Media</a></li>
  <li><a href="/change_media">Change a Media</a></li>
  <li><a href="/delete_media">Delete a old Media from the list</a></li>
</ul>