<h1>Anime Club Media Menu</h1>

<ul>
  <li><a href="/home" class="button">Main Menu</a></li>
  <li><a href="/list_media" class="button">List of all the Media</a></li>
  <li><a href="/add_media" class="button">Add a Media</a></li>
  <li><a href="/change_media" class="button">Change a Media</a></li>
  <li><a href="/delete_media" class="button">Delete a old Media from the list</a></li>
</ul>