<h2> All of the member who own <%= @media.cover_name %></h2>

<ul>
  <% @list_of_member.each do |list| %>
  <li><%= list["name"]%>
    <% end %>
  </ul>
  
  <a href="/select_media" class="button">Back</a>