<h1>Here is the list of our Media</h1>

<ul>
  
  <% MediaMember.all.each do |list| %>
  <% @member = Member.find(list.member_id)%>
  <% @media = Media.find(list.media_id)%>
  <p><li><%= " #{@member.name} - #{@media.cover_name}"%></li></p>
  <% end %>
</ul>
  
<a href="/media_member_menu" class="button">Back</a>