<h1>Anime Club Media Member Menu</h1>

<ul>
  <li><a href="/home" class="button">Main Menu</a></li>
  <li><a href="/list_media_member" class="button">List of all the Media Member</a></li>
  <li><a href="/add_media_member" class="button">Add a Media Member</a></li>
  <li><a href="/delete_media_member" class="button">Delete Media Member</a></li>  
  <li><a href="/sort" class="button">Sort Media Member</a></li>
</ul>