<h1>Anime Club Media Member Menu</h1>

<ul>
  <li><a href="/home">Main Menu</a></li>
  <li><a href="/list_media_member">List of all the Media Member</a></li>
  <li><a href="/add_media_member">Add a Media Member</a></li>
</ul>