<h1>Anime Club Media Member Menu</h1>

<ul>
  <li><a href="/home">Main Menu</a></li>
  <li><a href="/list_media_members">List of all the Media Member</a></li>
  <li><a href="/add_media_member">Add a Media Member</a></li>
  <li><a href="/delete_media_member">Delete a old Media Member from the list</a></li>
</ul>