<h1> Click on the member you want to see the media own </h1>

<ul>
  <% Member.all.each do |member| %>
  <li><a href="/media_member/<%= member.id %>">Name: <%=member.name%></a></li>
  <% end %>
</ul>
<a href="/sort" class="button">Back</a>