<h1> Adding a Format Type </h1>

<form action= "/save_format_type">
  
  What is the name of the format type?<br>
  <input type "text" placeholder="ex. Dvd" name="name"><br>
  
  <input type= "submit">
</form>

<a href="/format_type_menu">Back</a>