<h1>Anime Club Format Type Menu</h1>

<ul>
  <li><a href="/home">Main Menu</a></li>
  <li><a href="/list_format_type">List of all the Format types</a></li>
  <li><a href="/add_format_type">Add a Format type</a></li>
  <li><a href="/change_format_type">Change a Format type</a></li>
  <li><a href="/delete_format_type">Delete a Format type from the list</a></li>
</ul>